{% extends 'Ecommerce/base.html' %}
{% load static %}
{% block content %}
<section id="home-section" class="hero">
    <div class="home-slider owl-carousel">
    <div class="slider-item" style="background-image: url({% static 'Ecommerce/images/img2-bg.jpg' %});">
        <div class="overlay"></div>
      <div class="container">
        <div class="row slider-text justify-content-center align-items-center" data-scrollax-parent="true">

          <div class="col-md-12 ftco-animate text-center">
            <h1 class="mb-2" style="font-size: 100px;">Why have cotton when you can have pest control?</h1>
            <!-- <h2 class="subheading mb-4">We deliver organic vegetables &amp; fruits</h2>
            <p><a href="#" class="btn btn-primary">View Details</a></p> -->
          </div>

        </div>
      </div>
    </div>

    <div class="slider-item" style="background-image: url({% static 'Ecommerce/images/img1-bg.jpg' %});">
        <div class="overlay"></div>
      <div class="container">
        <div class="row slider-text justify-content-center align-items-center" data-scrollax-parent="true">

          <div class="col-sm-12 ftco-animate text-center">
            <h1 class="mb-2" style="font-size: 100px;">Say good bye to the last bug!</h1>
            <!-- <h2 class="subheading mb-4">We deliver organic vegetables &amp; fruits</h2>
            <p><a href="#" class="btn btn-primary">View Details</a></p> -->
          </div>

        </div>
      </div>
    </div>
  </div>
</section>

<!-- Products -->

<section class="ftco-section">
    <div class="container">
            <div class="row justify-content-center mb-3 pb-3">
      <!-- <div class="col-md-12 heading-section text-center ftco-animate"><br><br>
        <h2 class="mb-4">Our Products</h2>
        <p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia</p>
      </div> -->
    </div>   		
    </div>

    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-10 mb-5 text-center">
                <ul class="product-category">
                    <li><a href="#" class="active">All</a></li>
                    <li><a href="#">Insecticide</a></li>
                    <li><a href="#">Plants</a></li>
                    <li><a href="#">Seeds</a></li>
                    <li><a href="#">Gardening</a></li>
                </ul>
            </div>
        </div>
        
        <div class="row">
                {% for product in products%}
            <div class="col-md-6 col-lg-3 ftco-animate">
                   
                <div class="product" style="width:270px;max-width: 270px; height: 370px; max-height: 370px;">
                    <a href="{% url 'Product-View' product.productId %}" class="img-prod" style="text-align: center;"><img class="img-fluid" style="max-width:100%;height:250px;" src="{{ product.productImg.url }}" >
                        <!-- <span class="status">30%</span> -->
                        <div class="overlay"></div>
                    </a>
                    <div class="text py-3 pb-4 px-3 text-center">
                        <h3><a href="#">{{product.productTitle}}</a></h3>
                        <div class="d-flex">
                            <div class="pricing">
                                <p class="price"><span class="mr-2 price-dc">Rs.{{ product.marketPrice }}</span><span class="price-sale">Rs.{{ product.discountedPrice }}</span></p>
                            </div>
                        </div>
                        <div class="bottom-area d-flex px-3">
                            <div class="m-auto d-flex">
                                <a href="{% url 'Product-View' product.productId %}" class="add-to-cart d-flex justify-content-center align-items-center text-center">
                                    <span><i class="ion-ios-menu"></i></span>
                                </a>
                                <a href="#" class="buy-now d-flex justify-content-center align-items-center mx-1">
                                    <span><i class="ion-ios-cart"></i></span>
                                </a>
                                <a href="#" class="heart d-flex justify-content-center align-items-center ">
                                    <span><i class="ion-ios-heart"></i></span>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            {% endfor %}

        </div>
       
        <div class="row mt-5">
      <div class="col text-center">
        <div class="block-27">
          <ul>
            <li><a href="#">&lt;</a></li>
            <li class="active"><span>1</span></li>
            <li><a href="#">2</a></li>
            <li><a href="#">3</a></li>
            <li><a href="#">4</a></li>
            <li><a href="#">5</a></li>
            <li><a href="#">&gt;</a></li>
          </ul>
        </div>
      </div>
    </div>
    </div>
</section>
{% endblock %}