{% extends 'Ecommerce/base.html' %}
{% block content %}

    <div id="mainBody">
        <div class="container">
        <div class="row">

        <div class="span9">
        <div class="row">	  
                <div id="gallery" class="span3">
                        <a href="{{ product.productImg.url }}" title="{{ product.productTitle }}">
                            <img src="{{ product.productImg.url }}" style="width:100%" alt="Fujifilm FinePix S2950 Digital Camera"/>
                        </a>
                </div>
                <div class="span6">
                    <h3>{{ product.productTitle }}</h3>
                    <!-- <hr class="soft"/> -->
                    <!-- <form class="form-horizontal qtyFrm">
                    <div class="control-group">
                        <label class="control-label"><span>{{ product.discountedPrice }}</span></label>
                        <div class="controls">
                        <input type="number" class="span1" placeholder="Qty."/>
                        <a href="{% url 'Add-To-Cart' product.productId %}"><button type="button" class="btn btn-large btn-primary pull-right"> Add to cart <i class=" icon-shopping-cart"></i></button></a>
                        </div>
                    </div>
                    </form> -->
                    
                    <!-- <hr class="soft"/> -->
                    <!-- <p>
                    14 Megapixels. 18.0 x Optical Zoom. 3.0-inch LCD Screen. Full HD photos and 1280 x 720p HD movie capture. ISO sensitivity ISO6400 at reduced resolution. 
                    Tracking Auto Focus. Motion Panorama Mode. Face Detection technology with Blink detection and Smile and shoot mode. 4 x AA batteries not included. WxDxH 110.2 ×81.4x73.4mm. 
                    Weight 0.341kg (excluding battery and memory card). Weight 0.437kg (including battery and memory card).
                    
                    </p> -->
                    <!-- <a class="btn btn-small pull-right" href="#detail">More Details</a> -->
                    <!-- <br class="clr"/> -->
                <a href="#" name="detail"></a>
                <hr class="soft"/>
                </div>
                
                <div class="span9">
                <ul id="productDetail" class="nav nav-tabs">
                <li class="active"><a href="#home" data-toggle="tab">Product Details</a></li>
                <li><a href="#profile" data-toggle="tab">Related Products</a></li>
                </ul>
                <div id="myTabContent" class="tab-content">
                <div class="tab-pane fade active in" id="home">
                <h4>Product Information</h4>
                    <p>
                    {{ product.productDescription }}
                    </p>
                    <hr><br><br>
                </div>
            <div class="tab-pane fade" id="profile">
            <div id="myTab" class="pull-right">
            <a href="#listView" data-toggle="tab"><span class="btn btn-large"><i class="icon-list"></i></span></a>
            <a href="#blockView" data-toggle="tab"><span class="btn btn-large btn-primary"><i class="icon-th-large"></i></span></a>
            </div>
            <br class="clr"/>
            <hr class="soft"/>
            <div class="tab-content">
                <div class="tab-pane" id="listView">
                    {% for p in relatedProducts %}
                        <div class="row">	  
                            <div class="span2">
                                <img src="{{ p.productImg.url }}" alt=""/>
                            </div>
                            <div class="span4">
                                <h3><a href="{% url 'Product-View' p.productId %}">{{ p.productTitle }}</a></h3>				
                                <hr class="soft"/>
                                <h5>Product Name</h5>
                                <!-- <p>
                                Nowadays the lingerie industry is one of the most successful business spheres.We always stay in touch with the latest fashion tendencies - 
                                that is why our goods are so popular..
                                </p> -->
                                <a class="btn btn-small pull-right" href="product_details.html">View Details</a>
                                <br class="clr"/>
                            </div>
                            <div class="span3 alignR">
                            <form class="form-horizontal qtyFrm">
                            <h3> Rs{{ p.discountedPrice }}</h3>
                            <br/>
                            <div class="btn-group">
                            <a href="product_details.html" class="btn btn-large btn-primary"> Add to <i class=" icon-shopping-cart"></i></a>
                            <a href="product_details.html" class="btn btn-large"><i class="icon-zoom-in"></i></a>
                            </div>
                                </form>
                                <b style="float: unset;">Rating: <span id='stars{{ p.productId }}'></span></b>

                            </div>

                    </div>
                    <script>
                
                            document.getElementById("stars{{ p.productId }}").innerHTML = getStars({{ p.productRatings }});
                    
                    function getStars(rating) {
                    
                      // Round to nearest half
                      rating = Math.round(rating * 2) / 2;
                      let output = [];
                    
                      // Append all the filled whole stars
                      for (var i = rating; i >= 1; i--)
                        output.push('<i class="fa fa-star" aria-hidden="true" style="color: gold;"></i>&nbsp;');
                    
                      // If there is a half a star, append it
                      if (i == .5) output.push('<i class="fa fa-star-half-o" aria-hidden="true" style="color: gold;"></i>&nbsp;');
                    
                      // Fill the empty stars
                      for (let i = (5 - rating); i >= 1; i--)
                        output.push('<i class="fa fa-star-o" aria-hidden="true" style="color: gold;"></i>&nbsp;');
                    
                      return output.join('');
                    
                    }
                        </script>
                    {% endfor %}
                <hr class="soft"/>

            </div>
                <div class="tab-pane active" id="blockView">
                    <ul class="thumbnails">
                    {% for p in relatedProducts %}
                        <li class="span3">
                        <div class="thumbnail" style="width: 270px;height: 310.5px;">
                            <a href="{{ p.productImg.url }}" style="width:260px; height: 160px;"><img src="{{ p.productImg.url }}" alt="" style="width: 160px; height: 160px;"/></a>
                            <div class="caption">
                            <h5><a href="{% url 'Product-View' product.productId %}">{{ p.productTitle }}</a></h5>
                            <h4 style="text-align:center"><a class="btn" href="{% url 'Product-View' p.productId %}"> <i class="icon-zoom-in"></i></a>
                                <a class="btn" href="{% url 'Add-To-Cart' product.productId %}">Add to <i class="icon-shopping-cart"></i></a> 
                                <a class="btn btn-primary" href="#">Rs{{ p.discountedPrice }}</a></h4>
                            </div>
                            <b style="float: unset;">Rating: <span id='stars{{ forloop.counter }}'></span></b>

                        </div>
                        </li>

                        <script>
                
                                document.getElementById("stars{{ forloop.counter }}").innerHTML = getStars({{ p.productRatings }});
                        
                        function getStars(rating) {
                        
                          // Round to nearest half
                          rating = Math.round(rating * 2) / 2;
                          let output = [];
                        
                          // Append all the filled whole stars
                          for (var i = rating; i >= 1; i--)
                            output.push('<i class="fa fa-star" aria-hidden="true" style="color: gold;"></i>&nbsp;');
                        
                          // If there is a half a star, append it
                          if (i == .5) output.push('<i class="fa fa-star-half-o" aria-hidden="true" style="color: gold;"></i>&nbsp;');
                        
                          // Fill the empty stars
                          for (let i = (5 - rating); i >= 1; i--)
                            output.push('<i class="fa fa-star-o" aria-hidden="true" style="color: gold;"></i>&nbsp;');
                        
                          return output.join('');
                        
                        }
                            </script>
                    {% endfor %}
                    </ul>
                <hr class="soft"/>
                </div>
            </div>
                    <br class="clr">
                        </div>
            </div>
            </div>

        </div>
    </div>
    </div> </div>
    </div>
    <div class="row bootstrap snippets">
        <div class="col-md-6 col-md-offset-2 col-sm-12">
            <div class="comment-wrapper">
                <div class="panel panel-info">
                    <div class="panel-heading">
                        Comment panel
                    </div>
                    <div class="panel-body">
                        <form action="{% url 'Product-View' product.productId %}" method="POST">
                            {% csrf_token %}
                            <input type="text" style="display: none;" name="text" id="text">
                            <textarea class="form-control" placeholder="write a comment..." rows="3" id="comment"></textarea>
                            <br>
                            <button type="submit" class="btn btn-info pull-right">Post</button>
                        </form>
                        <div class="clearfix"></div>
                        <hr>
                        <ul class="media-list">
                            {% for c in comment %}
                            <li class="media">
                                <a href="#" class="pull-left">
                                    <img src="https://bootdey.com/img/Content/user_3.jpg" alt="" class="img-circle">
                                </a>
                                <div class="media-body">
                                    <span class="text-muted pull-right">
                                        <!-- <small class="text-muted">30 min ago</small> -->
                                    </span>
                                    <strong class="text-success">@{{ c.userId.username }}</strong>
                                    <p>
                                        {{ c.commentText }}
                                    </p>
                                </div>
                            </li>
                            <hr>
                            {% endfor %}
                        </ul>
                    </div>
                </div>
            </div>
    
        </div>
    </div>

    <script>
        $("#comment").on('blur', function(){
            $("#text").val($('#comment').val());
        });
    </script>
    <!-- MainBody End ============================= -->
{% endblock %}