{% extends 'Ecommerce/base.html' %}
{% block content %}

    <div id="mainBody">
        <div class="container">
        <div class="row">

        <div class="span9">
        <div class="row">	  
                <div id="gallery" class="span3">
                        <a href="{{ product.productImg.url }}" title="{{ product.productTitle }}">
                            <img src="{{ product.productImg.url }}" style="width:100%" alt="Fujifilm FinePix S2950 Digital Camera"/>
                        </a>
                </div>
                <div class="span6">
                    <h3>{{ product.productTitle }}  </h3>
                    <hr class="soft"/>
                    <form class="form-horizontal qtyFrm">
                    <div class="control-group">
                        <label class="control-label"><span>{{ product.marketPrice }}</span></label>
                        <div class="controls">
                        <a href="{% url 'Add-To-Cart' product.productId %}"><button type="button" class="btn btn-large btn-primary pull-right"> Add to cart <i class=" icon-shopping-cart"></i></button>
                        </div>
                    </div>
                    </form>
                    
                    <hr class="soft"/>
                    <p>
                    14 Megapixels. 18.0 x Optical Zoom. 3.0-inch LCD Screen. Full HD photos and 1280 x 720p HD movie capture. ISO sensitivity ISO6400 at reduced resolution. 
                    Tracking Auto Focus. Motion Panorama Mode. Face Detection technology with Blink detection and Smile and shoot mode. 4 x AA batteries not included. WxDxH 110.2 ×81.4x73.4mm. 
                    Weight 0.341kg (excluding battery and memory card). Weight 0.437kg (including battery and memory card).
                    
                    </p>
                    <a class="btn btn-small pull-right" href="#detail">More Details</a>
                    <br class="clr"/>
                <a href="#" name="detail"></a>
                <hr class="soft"/>
                </div>
                
                <div class="span9">
                <ul id="productDetail" class="nav nav-tabs">
                <li class="active"><a href="#home" data-toggle="tab">Product Details</a></li>
                <li><a href="#profile" data-toggle="tab">Related Products</a></li>
                </ul>
                <div id="myTabContent" class="tab-content">
                <div class="tab-pane fade active in" id="home">
                <h4>Product Information</h4>
                    <p>
                    {{ product.productDescription }}
                    </p>
                </div>
            <div class="tab-pane fade" id="profile">
            <div id="myTab" class="pull-right">
            <a href="#listView" data-toggle="tab"><span class="btn btn-large"><i class="icon-list"></i></span></a>
            <a href="#blockView" data-toggle="tab"><span class="btn btn-large btn-primary"><i class="icon-th-large"></i></span></a>
            </div>
            <br class="clr"/>
            <hr class="soft"/>
            <div class="tab-content">
                <div class="tab-pane" id="listView">
                    <div class="row">	  
                        <div class="span2">
                            <img src="{{ product.productImg.url }}" alt=""/>
                        </div>
                        <div class="span4">
                            <h3>New | Available</h3>				
                            <hr class="soft"/>
                            <h5>Product Name </h5>
                            <p>
                            Nowadays the lingerie industry is one of the most successful business spheres.We always stay in touch with the latest fashion tendencies - 
                            that is why our goods are so popular..
                            </p>
                            <a class="btn btn-small pull-right" href="product_details.html">View Details</a>
                            <br class="clr"/>
                        </div>
                        <div class="span3 alignR">
                        <form class="form-horizontal qtyFrm">
                        <h3> $222.00</h3>
                        <label class="checkbox">
                            <input type="checkbox">  Adds product to compair
                        </label><br/>
                        <div class="btn-group">
                        <a href="product_details.html" class="btn btn-large btn-primary"> Add to <i class=" icon-shopping-cart"></i></a>
                        <a href="product_details.html" class="btn btn-large"><i class="icon-zoom-in"></i></a>
                        </div>
                            </form>
                        </div>
                </div>
                <hr class="soft"/>
                <div class="row">	  
                        <div class="span2">
                            <img src="themes/images/products/5.jpg" alt=""/>
                        </div>
                        <div class="span4">
                            <h3>New | Available</h3>				
                            <hr class="soft"/>
                            <h5>Product Name </h5>
                            <p>
                            Nowadays the lingerie industry is one of the most successful business spheres.We always stay in touch with the latest fashion tendencies - 
                            that is why our goods are so popular..
                            </p>
                            <a class="btn btn-small pull-right" href="product_details.html">View Details</a>
                            <br class="clr"/>
                        </div>
                        <div class="span3 alignR">
                        <form class="form-horizontal qtyFrm">
                            <h3> $222.00</h3>
                            <label class="checkbox">
                            <input type="checkbox">  Adds product to compair
                            </label><br/>
                            <div class="btn-group">
                            <a href="product_details.html" class="btn btn-large btn-primary"> Add to <i class=" icon-shopping-cart"></i></a>
                            <a href="product_details.html" class="btn btn-large"><i class="icon-zoom-in"></i></a>
                            </div>
                        </form>
                        </div>
                </div>
                <hr class="soft"/>
                <div class="row">	  
                        <div class="span2">
                        <img src="themes/images/products/6.jpg" alt=""/>
                        </div>
                        <div class="span4">
                            <h3>New | Available</h3>				
                            <hr class="soft"/>
                            <h5>Product Name </h5>
                            <p>
                            Nowadays the lingerie industry is one of the most successful business spheres.We always stay in touch with the latest fashion tendencies - 
                            that is why our goods are so popular..
                            </p>
                            <a class="btn btn-small pull-right" href="product_details.html">View Details</a>
                            <br class="clr"/>
                        </div>
                        <div class="span3 alignR">
                        <form class="form-horizontal qtyFrm">
                        <h3> $222.00</h3>
                        <label class="checkbox">
                            <input type="checkbox">  Adds product to compair
                        </label><br/>
                    <div class="btn-group">
                    <a href="product_details.html" class="btn btn-large btn-primary"> Add to <i class=" icon-shopping-cart"></i></a>
                    <a href="product_details.html" class="btn btn-large"><i class="icon-zoom-in"></i></a>
                    </div>
                            </form>
                        </div>
                </div>
                <hr class="soft"/>
                <div class="row">	  
                        <div class="span2">
                        <img src="themes/images/products/7.jpg" alt=""/>
                        </div>
                        <div class="span4">
                            <h3>New | Available</h3>				
                            <hr class="soft"/>
                            <h5>Product Name </h5>
                            <p>
                            Nowadays the lingerie industry is one of the most successful business spheres.We always stay in touch with the latest fashion tendencies - 
                            that is why our goods are so popular..
                            </p>
                            <a class="btn btn-small pull-right" href="product_details.html">View Details</a>
                            <br class="clr"/>
                        </div>
                        <div class="span3 alignR">
                            <form class="form-horizontal qtyFrm">
                            <h3> $222.00</h3>
                            <label class="checkbox">
                            <input type="checkbox">  Adds product to compair
                            </label><br/>
                            <div class="btn-group">
                            <a href="product_details.html" class="btn btn-large btn-primary"> Add to <i class=" icon-shopping-cart"></i></a>
                            <a href="product_details.html" class="btn btn-large"><i class="icon-zoom-in"></i></a>
                            </div>
                            </form>
                        </div>
                </div>
                
                <hr class="soft"/>
                <div class="row">	  
                        <div class="span2">
                        <img src="themes/images/products/8.jpg" alt=""/>
                        </div>
                        <div class="span4">
                            <h3>New | Available</h3>				
                            <hr class="soft"/>
                            <h5>Product Name </h5>
                            <p>
                            Nowadays the lingerie industry is one of the most successful business spheres.We always stay in touch with the latest fashion tendencies - 
                            that is why our goods are so popular..
                            </p>
                            <a class="btn btn-small pull-right" href="product_details.html">View Details</a>
                            <br class="clr"/>
                        </div>
                        <div class="span3 alignR">
                            <form class="form-horizontal qtyFrm">
                            <h3> $222.00</h3>
                            <label class="checkbox">
                            <input type="checkbox">  Adds product to compair
                            </label><br/>
                            <div class="btn-group">
                            <a href="product_details.html" class="btn btn-large btn-primary"> Add to <i class=" icon-shopping-cart"></i></a>
                            <a href="product_details.html" class="btn btn-large"><i class="icon-zoom-in"></i></a>
                            </div>
                            </form>
                        </div>
                </div>
                <hr class="soft"/>
                    <div class="row">	  
                        <div class="span2">
                        <img src="themes/images/products/9.jpg" alt=""/>
                        </div>
                        <div class="span4">
                            <h3>New | Available</h3>				
                            <hr class="soft"/>
                            <h5>Product Name </h5>
                            <p>
                            Nowadays the lingerie industry is one of the most successful business spheres.We always stay in touch with the latest fashion tendencies - 
                            that is why our goods are so popular..
                            </p>
                            <a class="btn btn-small pull-right" href="product_details.html">View Details</a>
                            <br class="clr"/>
                        </div>
                        <div class="span3 alignR">
                            <form class="form-horizontal qtyFrm">
                            <h3> $222.00</h3>
                            <label class="checkbox">
                            <input type="checkbox">  Adds product to compair
                            </label><br/>
                            <div class="btn-group">
                            <a href="product_details.html" class="btn btn-large btn-primary"> Add to <i class=" icon-shopping-cart"></i></a>
                            <a href="product_details.html" class="btn btn-large"><i class="icon-zoom-in"></i></a>
                            </div>
                            </form>
                        </div>
                </div>
                <hr class="soft"/>
            </div>
                <div class="tab-pane active" id="blockView">
                    <ul class="thumbnails">
                        <li class="span3">
                        <div class="thumbnail">
                            <a href="product_details.html"><img src="themes/images/products/10.jpg" alt=""/></a>
                            <div class="caption">
                            <h5>Manicure &amp; Pedicure</h5>
                            <p> 
                                Lorem Ipsum is simply dummy text. 
                            </p>
                            <h4 style="text-align:center"><a class="btn" href="product_details.html"> <i class="icon-zoom-in"></i></a> <a class="btn" href="#">Add to <i class="icon-shopping-cart"></i></a> <a class="btn btn-primary" href="#">&euro;222.00</a></h4>
                            </div>
                        </div>
                        </li>
                        <li class="span3">
                        <div class="thumbnail">
                            <a href="product_details.html"><img src="themes/images/products/11.jpg" alt=""/></a>
                            <div class="caption">
                            <h5>Manicure &amp; Pedicure</h5>
                            <p> 
                                Lorem Ipsum is simply dummy text. 
                            </p>
                            <h4 style="text-align:center"><a class="btn" href="product_details.html"> <i class="icon-zoom-in"></i></a> <a class="btn" href="#">Add to <i class="icon-shopping-cart"></i></a> <a class="btn btn-primary" href="#">&euro;222.00</a></h4>
                            </div>
                        </div>
                        </li>
                        <li class="span3">
                        <div class="thumbnail">
                            <a href="product_details.html"><img src="themes/images/products/12.jpg" alt=""/></a>
                            <div class="caption">
                            <h5>Manicure &amp; Pedicure</h5>
                            <p> 
                                Lorem Ipsum is simply dummy text. 
                            </p>
                            <h4 style="text-align:center"><a class="btn" href="product_details.html"> <i class="icon-zoom-in"></i></a> <a class="btn" href="#">Add to <i class="icon-shopping-cart"></i></a> <a class="btn btn-primary" href="#">&euro;222.00</a></h4>
                            </div>
                        </div>
                        </li>
                        <li class="span3">
                        <div class="thumbnail">
                            <a href="product_details.html"><img src="themes/images/products/13.jpg" alt=""/></a>
                            <div class="caption">
                            <h5>Manicure &amp; Pedicure</h5>
                            <p> 
                                Lorem Ipsum is simply dummy text. 
                            </p>
                            <h4 style="text-align:center"><a class="btn" href="product_details.html"> <i class="icon-zoom-in"></i></a> <a class="btn" href="#">Add to <i class="icon-shopping-cart"></i></a> <a class="btn btn-primary" href="#">&euro;222.00</a></h4>
                            </div>
                        </div>
                        </li>
                        <li class="span3">
                        <div class="thumbnail">
                            <a href="product_details.html"><img src="themes/images/products/1.jpg" alt=""/></a>
                            <div class="caption">
                            <h5>Manicure &amp; Pedicure</h5>
                            <p> 
                                Lorem Ipsum is simply dummy text. 
                            </p>
                            <h4 style="text-align:center"><a class="btn" href="product_details.html"> <i class="icon-zoom-in"></i></a> <a class="btn" href="#">Add to <i class="icon-shopping-cart"></i></a> <a class="btn btn-primary" href="#">&euro;222.00</a></h4>
                            </div>
                        </div>
                        </li>
                        <li class="span3">
                        <div class="thumbnail">
                            <a href="product_details.html"><img src="themes/images/products/2.jpg" alt=""/></a>
                            <div class="caption">
                            <h5>Manicure &amp; Pedicure</h5>
                            <p> 
                                Lorem Ipsum is simply dummy text. 
                            </p>
                            <h4 style="text-align:center"><a class="btn" href="product_details.html"> <i class="icon-zoom-in"></i></a> <a class="btn" href="#">Add to <i class="icon-shopping-cart"></i></a> <a class="btn btn-primary" href="#">&euro;222.00</a></h4>
                            </div>
                        </div>
                        </li>
                    </ul>
                <hr class="soft"/>
                </div>
            </div>
                    <br class="clr">
                        </div>
            </div>
            </div>

        </div>
    </div>
    </div> </div>
    </div>
    <!-- MainBody End ============================= -->
{% endblock %}