{% extends 'Ecommerce/base.html' %}
{% load crispy_forms_tags %}
{% block content %}
    <style>
        input {
  display: inline-block;
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  padding: 10px 10px 10px 10px;
  border: 1px solid #b7b7b7;
  -webkit-border-radius: 4px;
  border-radius: 3px;
  font: normal 16px/normal "arial", Times, serif;
  color: rgba(0,142,198,1);
  -o-text-overflow: clip;
  text-overflow: clip;
  background: rgba(252,252,252,1);
  -webkit-box-shadow: 2px 2px 2px 0 rgba(0,0,0,0.2) inset;
  box-shadow: 2px 2px 2px 0 rgba(0,0,0,0.2) inset;
  text-shadow: 1px 1px 0 rgba(255,255,255,0.66) ;
  -webkit-transition: all 200ms cubic-bezier(0.42, 0, 0.58, 1);
  -moz-transition: all 200ms cubic-bezier(0.42, 0, 0.58, 1);
  -o-transition: all 200ms cubic-bezier(0.42, 0, 0.58, 1);
  transition: all 200ms cubic-bezier(0.42, 0, 0.58, 1);
  width: 30em;
  text-align: center;
  align-content: center;
  }
  textarea, select{
      width: 30em;
      text-align: center;
  }
      </style>

      <div id="mainBody">
          <div class="container">
          <div class="row">
          <div class="span8">
          
          <div class="well">
          <div class="card" style="width: 100%;">
              <div class="card-header">
              <ul class="list-group list-group-flush">
                <div class="content-section">
                  <div class="col-md-8">
                      <br>
                  <div class="media"  style="text-align: center;">
                    <img class="rounded-circle account-img" width="90px" height="90px" src="{{ user.profile.img.url }}">
                    <div class="media-body" >
                      <h2 class="account-heading">&nbsp;{{ user.username }}</h2>
                      <p class="text-secondary">&nbsp;{{ user.email }}</p>
                    </div>
                  </div>
                  <form method="POST" enctype="multipart/form-data" style="text-align: center;">
                      {% csrf_token %}
                      <fieldset class="form-group">
                          <legend class="border-bottom mb-4">Profile Info</legend>
                          {{ u_form|crispy }}
                          {{ p_form|crispy }}
                      </fieldset>
                      <div class="form-group">
                          <button class="btn btn-outline-info" type="submit">Update</button>
                      </div>
                  </form>
                  </div>
                </div>
              </ul>
            </div>

            </div>
      </div>
      </div>
      </div>
      </div>
      </div>
      <script>
          $("textarea").attr('rows',5)
      </script>
  <!-- MainBody End ============================= -->
{% endblock %}